body, html {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #001642;
}

.george {
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  padding-top: 30vh;
}

.george .parte_superior_maceta {
  width: 30vh;
  height: 0;
  border-top: 5vh solid #8a4d1a;
  border-left: 0.9090909091vh solid transparent;
  border-right: 0.9090909091vh solid transparent;
}

.george .cuerpo_maceta {
  width: 20vh;
  height: 0;
  border-top: 17vh solid #895f3d;
  border-left: 4vh solid transparent;
  border-right: 4vh solid transparent;
}

.george .plato_maceta {
  width: 23vh;
  height: 0;
  border-top: 4vh solid #8a4d1a;
  border-left: 0.8vh solid transparent;
  border-right: 0.8vh solid transparent;
}

.george .flor_george {
  position: absolute;
  top: 0;
  left: 11vh;
  height: 6.6666666667vh;
  width: 5vh;
  border-radius: 0 100% 0 100%;
  background-color: #e2641b;
}

.george .flor_george:before {
  content: "";
  top: 0;
  left: 5vh;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  position: absolute;
  height: 6.6666666667vh;
  width: 5vh;
  border-radius: 0 100% 0 100%;
  background-color: #e2641b;
}

.george .cabeza_george {
  position: absolute;
  z-index: -1;
  top: 6.6666666667vh;
  left: 2vh;
  height: 30vh;
  width: 28vh;
  background-color: #98d30c;
  border-radius: 100%;
}

.george .cabeza_george .linea {
  height: 30vh;
  width: 1vh;
  background-color: #ccf668;
  position: absolute;
  left: 13vh;
}

.george .cabeza_george:before {
  content: "";
  display: block;
  height: 30vh;
  width: 20.7407407407vh;
  border: solid 1vh #ccf668;
  border-radius: 100%;
  position: absolute;
  left: 2.5vh;
}

.george .cabeza_george:after {
  content: "";
  display: block;
  height: 30vh;
  width: 9.3333333333vh;
  border: solid 1vh #ccf668;
  border-radius: 100%;
  position: absolute;
  left: 8vh;
}

.george .cabeza_george .ojo {
  height: 8vh;
  width: 8vh;
  position: absolute;
  background-color: #000;
  border-radius: 100%;
  z-index: 1;
  top: 10vh;
  left: 0;
}

.george .cabeza_george .ojo:before {
  content: "";
  display: block;
  position: absolute;
  height: 1.6666666667vh;
  width: 1.6666666667vh;
  background-color: #ffffff;
  border-radius: 100%;
  bottom: 1vh;
  right: 1.6666666667vh;
  -webkit-animation: brillo .25s infinite alternate;
          animation: brillo .25s infinite alternate;
}

.george .cabeza_george .ojo:after {
  content: "";
  display: block;
  position: absolute;
  height: 5vh;
  width: 5vh;
  background-color: #ffffff;
  border-radius: 100%;
  bottom: 2vh;
  right: 2vh;
  -webkit-animation: brillo .25s infinite alternate;
          animation: brillo .25s infinite alternate;
}

.george .cabeza_george .ojo:last-of-type {
  left: 11.4285714286vh;
}

.george .cabeza_george .mejilla {
  height: 2.5vh;
  width: 5.7142857143vh;
  border-radius: 60%;
  background-color: #f482e9;
  position: absolute;
  top: 16.6666666667vh;
  left: -2vh;
  z-index: 5;
}

.george .cabeza_george .mejilla:after {
  content: "";
  height: 2.5vh;
  width: 5.7142857143vh;
  border-radius: 60%;
  background-color: #f482e9;
  position: absolute;
  left: 17.3913043478vh;
  z-index: 5;
}

.george .sombra {
  height: 5vh;
  width: 60vh;
  position: absolute;
  bottom: -2.5vh;
  right: -15vh;
  background-color: #69fcf7;
  opacity: .25;
  border-radius: 100%;
  z-index: -10;
}

@-webkit-keyframes brillo {
  0% {
    -webkit-transform: translateX(-0.0666666667vh) translateY(0.0666666667vh);
            transform: translateX(-0.0666666667vh) translateY(0.0666666667vh);
  }
  50% {
    -webkit-transform: translateX(-0.0666666667vh) translateY(-0.0666666667vh);
            transform: translateX(-0.0666666667vh) translateY(-0.0666666667vh);
  }
  100% {
    -webkit-transform: translateX(0.0666666667vh) translateY(0.0666666667vh);
            transform: translateX(0.0666666667vh) translateY(0.0666666667vh);
  }
}

@keyframes brillo {
  0% {
    -webkit-transform: translateX(-0.0666666667vh) translateY(0.0666666667vh);
            transform: translateX(-0.0666666667vh) translateY(0.0666666667vh);
  }
  50% {
    -webkit-transform: translateX(-0.0666666667vh) translateY(-0.0666666667vh);
            transform: translateX(-0.0666666667vh) translateY(-0.0666666667vh);
  }
  100% {
    -webkit-transform: translateX(0.0666666667vh) translateY(0.0666666667vh);
            transform: translateX(0.0666666667vh) translateY(0.0666666667vh);
  }
}
